.container {
    background-color: #f1f2f4;
    height: calc(100vh - 80px);
    padding: 35px 45px;
    .pageHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .pageTitle {
            display: flex;
            gap: 25px;
            font-family: Manrope;
            font-size: 36px;
            font-weight: 700;
            line-height: 49px;
            letter-spacing: 0em;
            text-align: left;
            color: #292b2f;
        }
        .fillButton {
            padding: 15px 45px;
            outline: none;
            border: none;
            background-color: #722ed1;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    .tableRow {
        grid-template-columns: 30% 60% 5% 5%;
        border-radius: 10px;
    }
    .tableEditCell {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tableIconCell {
        display: flex;
        align-items: center;
        .icon {
            background-color: #eeeeee;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2.5px;
        }
    }
}

.modalHeader {
    min-width: 497px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .modalTitle {
        color: #292b2f;
        font-family: Manrope;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
    }
    .modalClose,
    .modalClose div {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}
.modalBody {
    min-width: 497px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    .inputTitle {
        color: #292b2f;
        font-family: Manrope;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
    }
    .photoEdit {
        display: flex;
        flex-direction: column;
        border: 1px dashed #AAADB7;
        border-radius: 8px;
        span {
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: 0.04em;
            text-align: left;
            color: #292b2f;
            .purple {
                color: #722ED1;
            }
        }
        height: 170px;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        .column {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .name {
                color: #292b2f;
                font-family: Manrope;
                font-size: 18px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: 0em;
                text-align: left;
            }
            .textButton {
                margin: 0;
            }
        }
    }
    .row {
        display: flex;
        gap: 15px;
    }

    .textButton {
        margin: 15px 0;
        font-family: Manrope;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        display: flex;
        gap: 5px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #722ed1;
        text-decoration: underline;
        cursor: pointer;
    }
}
.modalActions {
    min-width: 497px;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    .fillButton,
    .outlineButton {
        padding: 16px 45px;
        border: 2px solid #722ed1;
        background-color: transparent;
        border-radius: 4px;
        font-family: Manrope;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #722ed1;
    }
    .fillButton {
        background-color: #722ed1;
        color: #fff;
    }
}
