.container {
    background-color: #f1f2f4;
    height: calc(100vh - 80px);
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .outlineButton {
        padding: 13px 45px;
        outline: none;
        background-color: transparent;
        border: 2px solid #7f3ffc; //styleName: Text;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #7f3ffc;
        border-radius: 8px;
        cursor: pointer;
    }
    .fillButton {
        padding: 15px 45px;
        outline: none;
        border: none;
        background-color: #7f3ffc; //styleName: Text;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
    .pageTitle {
        font-family: Noto Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: #201522;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .filters {
            display: flex;
            gap: 15px;
            .multiSelect{
                width: 250px;
            }
        }
    }
    .eventsWrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: 20px;
        column-gap: 24px;
        .event {
            background-color: #fff;
            border-radius: 8px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            .eventHeader {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                color: #201522;
                font-family: Noto Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }
            .teamIcons {
                padding: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 13px;
                color: #989a9e;
                font-family: Noto Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                .teamIcon {
                    border: 2px solid #cfcfcf;
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    padding: 9px;
                }
            }
            .teamsNames {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                gap: 7px;
                padding: 0;
                .league {
                    color: #989a9e;
                    font-family: Noto Sans;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                .name {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #6f6f6f;
                    font-family: Noto Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }
                .boldName {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #201522;
                    font-family: Noto Sans;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 140%; 
                }
            }
            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .date,
                .tips {
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #898b94;
                }
            }
        }
    }
}
