.container {
    background-color: #f8f8f8;
    height: calc(100vh - 80px);
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .outlineButton {
        padding: 13px 45px;
        outline: none;
        background-color: transparent;
        border: 2px solid #7f3ffc; //styleName: Text;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #7f3ffc;
        border-radius: 8px;
        cursor: pointer;
    }
    .fillButton {
        padding: 15px 45px;
        outline: none;
        border: none;
        background-color: #7f3ffc; //styleName: Text;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
    .pageTitle {
        font-family: Noto Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: #201522;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    .content {
        display: grid;
        grid-template-columns: 350px 1fr;
        grid-gap: 25px;
        .tipBlock {
            background-color: #fff;
            border-radius: 8px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            .row {
                display: flex;
                .text {
                    font-family: Noto Sans;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: right;
                    color: #201522;
                }
            }
            .tipProp {
                display: flex;
                gap: 20;
                flex: 1 0 auto;
                .name {
                    flex: 0 0 120px;
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #898b94;
                }
                .value {
                    flex: 1 0 auto;
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #201522;
                    display: flex;
                }
                .valueBold {
                    color: #000000;
                    font-family: Noto Sans;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .event {
            background-color: #fff;
            border-radius: 8px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            .teams {
                display: flex;
                flex-direction: row;
                gap: 10px;
                .teamsIcons {
                    padding: 15px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid #cfd1d5;
                    border-radius: 8px;
                    gap: 12px;
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #898b94;
                    .teamIcon {
                        border: 1px solid #cfcfcf;
                        border-radius: 50%;
                        padding: 6px;
                    }
                }
                .teamsNames {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 20px 0;
                    .name {
                        font-family: Noto Sans;
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #201522;
                    }
                }
            }
            .footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .date,
                .tips {
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #898b94;
                }
            }
        }
    }
}
