.container {
    background-color: #f1f2f4;
    height: calc(100vh - 80px);
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .outlineButton {
        padding: 13px 45px;
        outline: none;
        background-color: transparent;
        border: 2px solid #7f3ffc; //styleName: Text;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #7f3ffc;
        border-radius: 8px;
        cursor: pointer;
    }
    .fillButton {
        padding: 15px 45px;
        outline: none;
        border: none;
        background-color: #7f3ffc; //styleName: Text;
        font-family: Noto Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
    .pageTitle {
        font-family: Noto Sans;
        font-size: 24px;
        font-weight: 700;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        color: #201522;
        display: flex;
        width: 100%;
        justify-content: space-between;
        .filterBlock {
            position: relative;
            display: flex;
            gap: 20px;
            .outline {
                position: relative;
                outline: none;
                background-color: transparent;
                padding: 13px 45px;
                border: 2px solid #722ed1;
                border-radius: 8px;
                display: flex;
                gap: 8px;
                font-family: Manrope;
                color: #722ed1;
                font-size: 16px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: 0em;
                text-align: center;
                div {
                    height: 100%;
                    display: flex;
                    align-items: center;
                }
                cursor: pointer;
                .indicator {
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 2px solid #f1f2f4;
                    background-color: #722ed1;
                    color: #ffffff;
                    font-family: Manrope;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
            .filtersContainer {
                display: none;
                &.open {
                    display: block;
                }
                position: absolute;
                right: 0;
                top: 75px;
                padding: 25px 45px 40px 45px;
                background-color: #ffffff;
                border-radius: 10px;
                min-width: 750px;
                .header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: #201522;
                    font-family: Noto Sans;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 27px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 10px;
                }
                .filterName {
                    color: #292b2f;
                    font-family: Noto Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    text-align: left;
                }
                .footer {
                    margin-top: 25px;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-top: 25px;
                    border-top: 1px solid #cccdce;
                    .fill {
                        cursor: pointer;
                        background-color: #722ed1;
                        border: none;
                        outline: none;
                        color: #fff;
                        font-family: Manrope;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;
                        letter-spacing: 0em;
                        text-align: center;
                        border-radius: 4px;
                        padding: 16px 50px;
                    }
                    .text {
                        padding: 16px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        text-decoration: underline;
                        div {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 100%;
                        }
                        cursor: pointer;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: #df371f;
                        font-family: Manrope;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 19px;
                        letter-spacing: 0em;
                        text-align: left;
                    }
                }
                .inputRow {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    display: grid;
                    grid-template-columns: 180px 100px 1fr 26px 1fr;
                    align-items: center;
                    grid-gap: 10px;
                    .rangeInput {
                        flex: 1 0 10%;
                        height: 54px;
                        background-color: #efefef;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        input {
                            height: 100%;
                            width: 100%;
                            border: none;
                            background-color: transparent;
                            padding: 16px;
                            outline: none;
                            font-family: Manrope;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 22px;
                            letter-spacing: 0em;
                            text-align: left;
                            color: #1c1a27;
                        }
                    }
                    .divider {
                        border-bottom: 1px solid #898b94;
                        height: 0px;
                        width: 26px;
                        padding: 0;
                        margin: 0;
                    }
                    .outline {
                        border: 1px solid #722ed1;
                        border-radius: 5px;
                        width: 130px;
                        justify-content: center;
                        &.expired {
                            width: 150px;
                            border-color: #898b94;
                            color: #898b94;
                        }
                    }
                }
            }
        }
    }
    .userTableRow {
        grid-template-columns: 40% 10% 20% 15% 15%;
        overflow: hidden;
        .tableNameCell {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 15px;
            .col {
                display: flex;
                flex-direction: column;
                font-weight: 400;
                letter-spacing: 0em;
                text-align: left;
                .name {
                    font-family: Noto Sans;
                    font-size: 16px;
                    line-height: 22px;
                    color: #201522;
                }
                .mail {
                    font-family: Noto Sans;
                    font-size: 14px;
                    line-height: 19px;
                    color: #898b94;
                }
            }
        }
        .text {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        .tableBlockCell {
            display: flex;
            align-items: center;
            font-family: Noto Sans;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: center;
            color: #00b247;
            &.blocked {
                color: #df371f;
            }
        }
    }
}

.searchicon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
